$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 10px;
}

thead{
  font-weight: bold;
}

tbody > tr {
  &:hover{
    background-color: #c6c6c6;
  }
}

.delete {
  &:hover {
    background-color: red;
  }
}

.menu {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card{
  border: solid;
  border-color: black;
  border-radius: 2px;
  border-width: 1px;
  padding: 10px;
}

.ingredient {
  span {
    position: relative;
    top: -25px;
    left: 545px;
  }
}

