<div class="modal fade" id="newRecipeModal" tabindex="-1" role="dialog" aria-labelledby="newRecipeModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearForm()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newRecipeModalLabel">Lägg till nytt recept</h4>
      </div>
      <div class="modal-body">
       <form name="addRecipe">
        <div class="form-group">
          <label for="title">Titel (*)</label>
          <input type="text" class="form-control" id="title" placeholder="Ange en titel" ng-model="newRecipe.title" required>
        </div>
        <div class="form-group">
          <label for="category">Kategori (*)</label>
          <select class="form-control" id="category" ng-model="newRecipe.category" ng-options="x.name for x in categories" required>
          </select>
        </div>
        <div class="form-group">
          <label for="ingredient">Ingredienser</label>
          <div ng-repeat="ingredient in ingredients track by $index" class="ingredient">
            <input class="form-control" type="text" ng-model="ingredients[$index]">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeIngredient($index)"></span>
          </div>
          <button ng-click="addIngredient()">Lägg till ingrediens</button>
        </div>
        <div class="form-group">
          <label for="description">Beskrivning (*)</label>
          <textarea class="form-control" id="description" rows="3" ng-model="newRecipe.description" required></textarea>
        </div>
      </form>
      <small>Fält markerade med (*) måste fyllas i!</small>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearForm()">Avbryt</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="postRecipe()" ng-disabled="addRecipe.$invalid">Spara</button>
    </div>
  </div>
</div>
</div>